body {
    background-color: #FFFFFF;
}

.main.container {
    margin-top: 7em;
  padding: 4em;
}

.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}
.ui.table>thead>tr>th {
    background-color: #286090;
    color: #fff;
    height: 3em;
    text-align: center;
}

.ui.table>thead>tr>th.left {
    text-align: left;
    padding-left: 22%;
}
.ui.menu.rgm{
  background-color: #286090;
  color: #fff;
  height: 4em;
}
.ui.menu .rgm{
  color: #fff;
  font-size: x-large;
}

.ui.buttons .rgm{
  background-color: #286090;
  color: #fff;
}
.ui.table>tbody>tr>td.rgmalign {
  text-align: center;
}
